body{
    background-image: url('hatter.jpg');
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin: 0 auto;
    background-color: white;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'header header header'
    'nav article aside'
    'footer footer footer'
    ;
}
header{
    grid-area: header;
}
h1{
    margin: 0;
    height: 100px;
    font-size: 40px;
    color: white;
    background-color: rgb(72, 98, 184);
    text-align: center;
    padding-top: 50px;
}
nav{
    grid-area: nav;
    border-right: dotted rgb(72, 98, 184);
}
nav li{
    list-style-type: none;
    padding: 7px;
}
li a{
    text-decoration: none;
    color: black;
}
article{
    grid-area: article;
    padding: 15px;

}
article p{
    text-align: justify;
    margin-top: 10px;

}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
img{
    float: left;
    background-color: rgb(72, 98, 184);
    padding: 10px;
    padding-bottom: 25px;
    margin: 25px;
}
aside{
    grid-area: aside;
    border-left: dotted rgb(72, 98, 184);
}
aside{
    text-align: justify;
    padding: 5px;
}
ul{
    padding: 5px;
}
aside li{
    list-style-type: none;
    color: rgb(72, 98, 184);
    text-align: left
}
footer{
    grid-area: footer;
}
@media only screen and (max-width: 700px) {
    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'nav'
        'aside'
        'article'
        'footer';
    }
    nav{
        grid-area: nav;
        border:none;
        color: white;
        background-color: rgb(72, 98, 184);
        margin: 10px;
    }
    nav li{
        list-style-type: none;
        padding: 7px;
    }
    li a{
        text-decoration: none;
        color: white;
    }
    aside{
        grid-area: aside;
        border-left: none;
        background-color: rgb(72, 98, 184);
        margin: 10px;
    }
    aside{
        text-align: justify;
        padding: 5px;
        color: white;
    }
    ul{
        padding: 5px;
    }
    aside li{
        list-style-type: none;
        color: white;
        text-align: left
    }

  }
  table, tr, td{
    border: 2px rgb(72, 98, 184) solid;
    border-collapse: collapse;
    padding: 15px;
  }